<div class="panel panel-default">
  <div class="panel-heading"><span class="lead">{{city}}</span><span class="small last-update">Stand: {{lastUpdate | amDateFormat: 'LT'}}</span></div>
  <table *ngIf="dailyWeatherInfo" class="table">
    <tr>
      <td class="icon"><i class="{{getIconClass(dailyWeatherInfo.icon)}}"></i></td>
      <td class="temp">{{dailyWeatherInfo.maxTemp}}°C - {{dailyWeatherInfo.minTemp}}°C</td>
    </tr>
    <tr>
      <td colspan="2">{{dailyWeatherInfo.summary}}</td>
    </tr>
  </table>
  <table class="table table-striped text-center hidden">
    <tr *ngFor="let weatherInfo of weatherInfos">
      <td class="time">
        {{weatherInfo.date | amDateFormat: 'LT'}}
      </td>
      <td>
        <i class="{{getIconClass(weatherInfo.icon)}}"></i>
      </td>
      <td class="temp">
        {{weatherInfo.temp}}°C
      </td>
      <td class="precip">
        {{weatherInfo.precipProbability}}%
      </td>
    </tr>
  </table>
</div>
