i {
  font-size: 2em;
}
.icon {
  text-align: center;
}
.time, .temp, .precip, .day {
  font-size: 1.9vw;
  vertical-align: center;
  text-align: center;
}
.last-update {
  float: right;
}
.rain {
  font-size: 1.5vw;
  text-align: center;
}