<div class="settings container">
  <form (ngSubmit)="onSubmit()">
      <div class="row">
          <div class="col-lg-6">
              <div class="form-group">
                  <label for="weatherCity">Weather City</label>
                  <input [(ngModel)]="settings.weatherCity" [ngModelOptions]="{standalone: true}"
                  type="text" class="form-control" id="weatherCity">
                  <label for="weatherLongitude">Weather Longitude</label>
                  <input [(ngModel)]="settings.weatherLongitude"
                  [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                  id="weatherLongitude">
                  <label for="weatherLatitude">Weather Latitude</label>
                  <input [(ngModel)]="settings.weatherLatitude"
                  [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                  id="weatherLatitude">
              </div>
          </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-lg-12">
              <button type="submit" class="btn btn-secondary">Speichern</button>
          </div>
      </div>
  </form>
</div>