<div class="panel panel-default">
  <div class="panel-heading"><span class="lead">{{city}}</span><span class="small last-update">Stand: {{lastUpdate | amDateFormat: 'LT'}}</span></div>
  <table class="table">
    <tr *ngFor="let dailyWeatherInfo of weatherForcast.dailyWeatherInfos">
      <td class="day">{{dailyWeatherInfo.date | amDateFormat: 'dd'}}</td>
      <td class="icon"><i class="{{getIconClass(dailyWeatherInfo.icon)}}"></i></td>
      <td class="temp" colspan=2>{{dailyWeatherInfo.maxTemp}}°C - {{dailyWeatherInfo.minTemp}}°C</td>
    </tr>
    <tr>
      <td colspan="4" class="rain">Regen {{weatherForcast.precipAt | amTimeAgo}} mit {{weatherForcast.precipProbability}}%</td>
    </tr>
    <tr>
      <td colspan="4">{{weatherForcast.summary}}</td>
    </tr>
  </table>
</div>
