i {
  font-size: 1.5vw;
}
.icon {
  text-align: center;
}
.time, .temp, .precip, .day {
  font-size: 1.5vw;
  vertical-align: center;
  text-align: center;
}
.last-update {
  float: right;
}
.rain {
  font-size: 1.5vw;
  text-align: center;
}
.dailyInfos{
  width: 100%;
  vertical-align: center;
  text-align: center;
}
.weather{
  font-size: 1em;
}

.dailyInfosParent{
  padding:0;
}
.settingLink {
  display: inline
}