<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- *ng-if is a directive transpiling to valid html-->
        <li *ngIf="!authenticationService.isAuthenticated">
          <!-- (click) binds the components authenticationService.login() method to the onClick-event -->
          <button class="btn btn-default navbar-btn" (click)="authenticationService.login()">Login with Google</button>
        </li>
        <li *ngIf="authenticationService.isAuthenticated">
          <!-- curly brackets are used to bind a part of a text to a component's field value -->
          <p class="navbar-text">Signed in as {{authenticationService.userName}}<small>  <a href="#" (click)="authenticationService.logout()">(Logout)</a></small></p>
        </li>
        <li *ngIf="authenticationService.isAuthenticated">
          <!-- brackets are used to bind an attribute value to a component's field value -->
          <img class="img-responsive" [src]="authenticationService.userImageUrl">
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="panel panel-default">
  <div class="panel-body" *ngIf="authenticationService.isAuthenticated">
    <h4>Appointments available for {{authenticationService.userName}}:</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let appointment of appointments">
        {{appointment}}
      </li>
    </ul>
    <button class="btn btn-default navbar-btn" (click)="refreshAppointments()">Refresh</button>
  </div>
  <div class="panel-body" *ngIf="!authenticationService.isAuthenticated">
    <h4>Welcome to Angular2 feat. OAuth2</h4>
  </div>
</div>
