<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/dashboard']">Übersicht<span *ngIf="onlineStatus == 'offline'"> (Offine Mode)</span></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/settings']">Einstellungen</a></li>
        <li *ngIf="!authenticationService.isAuthenticated">
          <!-- (click) binds the components authenticationService.login() method to the onClick-event -->
          <button class="btn btn-default navbar-btn" (click)="authenticationService.login()">Login with Google</button>
        </li>
        <li *ngIf="authenticationService.isAuthenticated">
          <p class="navbar-text">{{authenticationService.userName}}</p>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>