<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Übersicht<span *ngIf="onlineStatus == 'offline'"> (Offine Mode)</span></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="authenticationService.isAuthenticated">
          <p class="navbar-text">{{authenticationService.userName}}</p>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="item col-md-3">
      <app-clock></app-clock>
      <app-schedule></app-schedule>
    </div>
    <div class="item col-md-3">
      <app-news onlineStatus={{onlineStatus}}></app-news>
    </div>
    <div class="item col-md-6">
      <div class="row">
        <div class="item col-md-12">
          <app-google-calendar onlineStatus={{onlineStatus}}></app-google-calendar>
        </div>
      </div>

      <div class="row">
        <div class="item col-md-6">
          <app-weather city="Bottrop" longitude="51.524722" latitude="6.922778" onlineStatus={{onlineStatus}}></app-weather>
          </div>
          <div class="item col-md-6">
          <app-weather city="Düsseldorf" longitude="51.233333" latitude="6.783333" onlineStatus={{onlineStatus}}></app-weather>
        </div>
      </div>
    </div>
  </div>
</div>