<div class="panel panel-default" *ngIf="schedule">
  <div class="panel-heading lead">
    Stundenplan {{schedule.displayedDate | amDateFormat:'dddd'}}
    <span *ngIf="!isEnabled" class="alert-danger">Disabled</span>
  </div>
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let classInfo of schedule.classInfos" class="{{getClassInfoClass(classInfo.classDuration)}}">
        <td class="time">
          {{classInfo.classDuration.from | amDateFormat:'LT'}} - {{classInfo.classDuration.to | amDateFormat:'LT'}}
        </td>
        <td>
          {{classInfo.subject}}
        </td>
      </tr>
    </tbody>
  </table>
</div>