<div class="panel panel-default">
  <div class="panel-heading"><span class="lead">Nächste Termine</span><span class="small"> ({{lastUpdate | amDateFormat: 'LT'}})</span></div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let day of daysWithEvents">
      {{day.date | amDateFormat:'dddd, D. MMMM'}} ({{day.date | amTimeAgo}})
      <p class="list-group-item" *ngFor="let event of day.events">
        {{event.summary}}<span *ngIf="event.hasTime"> | {{day.date | amDateFormat:'LT'}} | {{event.person}}</span>
      </p>
    </li>
  </ul>
</div>
