<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="item col-md-12">
          <app-quote onlineStatus={{onlineStatus}}></app-quote>
        </div>
        <div class="item col-md-6">
          <app-clock></app-clock>
          <app-schedule></app-schedule>
        </div>
        <div class="item col-md-6">
          <app-news onlineStatus={{onlineStatus}}></app-news>
        </div>
      </div>
    </div>
    <div class="item col-md-6">
      <div class="row">
        <div class="item col-md-3">
          <div class="row">
            <div class="item col-md-12">
              <app-calendar dateString={{thisMonth}} onlineStatus={{onlineStatus}}></app-calendar>
            </div>
          </div>
          <div class="row">
            <div class="item col-md-12">
              <app-calendar dateString={{nextMonth}} onlineStatus={{onlineStatus}}></app-calendar>
            </div>
          </div>
        </div>
        <div class="item col-md-9">
          <app-next-events onlineStatus={{onlineStatus}}></app-next-events>
        </div>
      </div>
      <div class="row">
        <div class="item col-md-6">
          <app-weather city="Bottrop" longitude="51.524722" latitude="6.922778" onlineStatus={{onlineStatus}}></app-weather>
        </div>
        <div class="item col-md-6">
          <app-weather city="Düsseldorf" longitude="51.233333" latitude="6.783333" onlineStatus={{onlineStatus}}></app-weather>
        </div>
      </div>
    </div>
  </div>
</div>