<div class="panel panel-default">
  <div class="panel-heading">
    <span class="lead">Nächste Termine</span>
    <span class="small last-update">Stand: {{lastUpdate | amDateFormat: 'MM.DD HH:mm'}}</span>
    <span class="small error-message" *ngIf="errorMessage"><br />Fehler: {{errorMessage}}</span>
    <span *ngIf="!isEnabled" class="alert-danger">Disabled</span>
  </div>
  <table class="table">
    <tr class="day row {{rowClass(day)}}" *ngFor="let day of daysWithEvents">
      <td class="text-center date">{{day.date | amDateFormat:'dddd'}}
        <br/>{{day.events[0].date | amDateFormat:'D. MMMM'}}
        <br/>{{day.date | amTimeAgo}}</td>
      <td>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let event of day.events">
            <span *ngIf="event.hasTime">{{event.date | amDateFormat:'LT'}} | </span>{{event.summary}}
            <span *ngIf="event.person"> | {{event.person}}</span>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>