<div class="settings container">
  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="forecastIoApiKey">Forecast.io Api Key</label>
          <input [(ngModel)]="settings.forecastIoApiKey" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="forecastIoApiKey">
        </div>
        <div class="form-group">
          <label for="googleClientId">Google Client ID</label>
          <input [(ngModel)]="settings.googleClientId" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="googleClientId">
        </div>
        <div class="form-group">
          <label for="googleApiKey">Google Api Key</label>
          <input [(ngModel)]="settings.googleApiKey" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="googleApiKey">
        </div>
      </div>
      <div class="col-md-12">
        <h3>TimeTable</h3>
        <table class="table">
          <thead>
            <tr>
              <th colspan=3>Stundenanfang</th>
              <th colspan=3>Stundenende</th>
              <th>Montag</th>
              <th>Dienstag</th>
              <th>Mittwoch</th>
              <th>Donnerstag</th>
              <th>Freitag</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of hourArray()">
              <template ngFor [ngForOf]=[0,1] let-j>
                <td><input [ngModelOptions]="{standalone: true}" [(ngModel)]="settings.classDurationNumbers[i][j][0]" class="classDurationColumn"/></td>
                <td class="classDurationSpacer">:</td>
                <td><input [ngModelOptions]="{standalone: true}" [(ngModel)]="settings.classDurationNumbers[i][j][1]" class="classDurationColumn"/></td>
              </template>
              <template ngFor [ngForOf]=[1,2,3,4,5] let-j>
                <td><input [ngModelOptions]="{standalone: true}" [(ngModel)]="settings.timeTable[j][i]"/></td>
              </template>
            </tr>
          </tbody>
        </table>
        <a href="#" class="btn btn-default" (click)="addHourToSchedule()">Add hour to schedule</a>
        <a href="#" class="btn btn-default" (click)="removeHourFromSchedule()">Remove hour from schedule</a>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-default">Speichern</button>
      </div>
    </div>
  </form>
</div>